.textAlignCenter {
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.imageAlignCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button1{
    background-color: #12d8ef;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button1:hover {
    background: #FFF307
}

.footerImage {
    transition: all .2s ease-in-out;
    height: 30px;
    width: 30px;
}

.footerImage:hover {
    transform: scale(1.15);
}

.headerText {
    color: #FFF307;
    user-select: none;
    text-decoration: none;
    text-decoration-color: #FFF307;
}

.headerText:hover {
    text-decoration: bold;
    color: #FFF307;
}

.invisText {
    user-select: none;
}

.link {
    color: #2c74f8;
}

.link:hover {
    color: #225dc6;
}