.textAlignCenter {
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.imageAlignCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

textWhite {
    color: white;
  }